/* src/styles/tailwind.css */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import 'tailwindcss';

@theme {
  /* Colors */
  --color-primary-900: #f76d00;
  --color-primary-800: #f08d00;
  --color-primary-700: #f09e00;
  --color-primary-600: #f5b000;
  --color-primary-500: #f4be00;
  --color-primary-400: #f5c816;
  --color-primary-300: #f6d347;
  --color-primary-200: #f8df7d;
  --color-primary-100: #fdebb0;
  --color-primary-50: #fdf8e0;

  --color-secondary-900: #0016bb;
  --color-secondary-800: #002dcf;
  --color-secondary-700: #0039d9;
  --color-secondary-600: #0045e8;
  --color-secondary-500: #004ef2;
  --color-secondary-400: #476af6;
  --color-secondary-300: #6f87f8;
  --color-secondary-200: #9da9fa;
  --color-secondary-100: #c5cbfc;
  --color-secondary-50: #e8eafe;

  --color-gray-900: #000000;
  --color-gray-800: #202020;
  --color-gray-700: #434343;
  --color-gray-600: #555555;
  --color-gray-500: #7b7b7b;
  --color-gray-400: #9d9d9d;
  --color-gray-300: #c4c4c4;
  --color-gray-200: #d9d9d9;
  --color-gray-100: #e9e9e9;
  --color-gray-50: #f5f5f5;

  --color-accent-900: #658000;
  --color-accent-800: #7a9900;
  --color-accent-700: #8fb300;
  --color-accent-600: #a3cc00;
  --color-accent-500: #b8e600;
  --color-accent-400: #c3ed33;
  --color-accent-300: #cef466;
  --color-accent-200: #d9fb99;
  --color-accent-100: #e5ffcc;
  --color-accent-50: #f0ffe5;

  --color-skyblue-900: #00528A;
  --color-skyblue-800: #0071AA;
  --color-skyblue-700: #0281BE;
  --color-skyblue-600: #0D94D1;
  --color-skyblue-500: #12A1DF;
  --color-skyblue-400: #37AFE2;
  --color-skyblue-300: #5BBCE4;
  --color-skyblue-200: #87CFEB;
  --color-skyblue-100: #B5E2F3;
  --color-skyblue-50: #E1F4FA;

  --color-blue-900: #0016B6;
  --color-blue-800: #002DCF;
  --color-blue-700: #0039D9;
  --color-blue-600: #0045E6;
  --color-blue-500: #004EF2;
  --color-blue-400: #476AF6;
  --color-blue-300: #6F87F8;
  --color-blue-200: #9DA9FA;
  --color-blue-100: #C5CBFC;
  --color-blue-50: #E8EAFE;

  --color-green-900: #009100;
  --color-green-800: #00B600;
  --color-green-700: #00CA00;
  --color-green-600: #18E000;
  --color-green-500: #3BF200;
  --color-green-400: #6AF647;
  --color-green-300: #8FFA71;
  --color-green-200: #B4FC9E;
  --color-green-100: #D4FDC5;
  --color-green-50: #EEFFE8;

  --color-Limegreen-900: #7D8900;
  --color-Limegreen-800: #91B200;
  --color-Limegreen-700: #9FC900;
  --color-Limegreen-600: #ADE100;
  --color-Limegreen-500: #B7F30D;
  --color-Limegreen-400: #C2F647;
  --color-Limegreen-300: #CDF96D;
  --color-Limegreen-200: #DCFB9A;
  --color-Limegreen-100: #EAFCC2;
  --color-Limegreen-50: #F6FEE7;

  --color-Brick-900: #B64614;
  --color-Brick-800: #CE531C;
  --color-Brick-700: #DC5A1F;
  --color-Brick-600: #EA6123;
  --color-Brick-500: #F56727;
  --color-Brick-400: #F67C47;
  --color-Brick-300: #F79268;
  --color-Brick-200: #F9B093;
  --color-Brick-100: #FBCFBE;
  --color-Brick-50: #FCEAE7;

  --color-purple-900: #3C31B6;
  --color-purple-800: #523DC5;
  --color-purple-700: #5F43CD;
  --color-purple-600: #6D4CD7;
  --color-purple-500: #7851DE;
  --color-purple-400: #8D6BE5;
  --color-purple-300: #A387EB;
  --color-purple-200: #BEABF0;
  --color-purple-100: #D8CCF6;
  --color-purple-50: #F0EAFB;

  --color-Violet-900: #760081;
  --color-Violet-800: #94008C;
  --color-Violet-700: #A40092;
  --color-Violet-600: #B70097;
  --color-Violet-500: #C4009B;
  --color-Violet-400: #D219AA;
  --color-Violet-300: #DE51BA;
  --color-Violet-200: #EB87CF;
  --color-Violet-100: #F3B8E1;
  --color-Violet-50: #FBE3F3;

  /* Font */
  --font-sans:
    'Pretendard Variable', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

@layer utilities {
  .heading-xlarge {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
  }

  .heading-large {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
  }

  .heading-medium {
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
  }

  .body-xlarge {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
  }

  .body-large {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
  }

  .body-nav {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
  }

  .body-medium {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
  }

  .body-small-s {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
  }

  .body-Button {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
  }

  .body-xsmall-s {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
  }

  .body-xsmall {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
  }

  .body-xxsmall {
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
  }

  .body-xxsmall-r {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
  }

  .body-tiny {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
  }

  .container-custom {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@layer base {
  body {
    font-family:
      'Pretendard Variable',
      'Pretendard',
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}
